/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1A1B26;
    background-alt: #1A1B26;
    foreground:     #C0CAF5;
    selected:       #33467C;
    active:         #414868;
    urgent:         #F7768E;
}
