dconf/
discord/
gh/
google-chrome/
htop/
ibus/
ibus-bamboo/
kitware/
libreoffice/
Mousepad/
nyxt/
obs-studio/
procps/
pulse/
sqlitebrowser/
sqls/
systemd/
Thunar/
vimb/
xfce4/
yay/
Kwalletrc
QtProject.conf
